/* ------------------------------------------------------------ *\
Reset
\* ------------------------------------------------------------ */

*,
*:before,
*:after { padding: 0; margin: 0; outline: 0; box-sizing: border-box; }

/* ------------------------------------------------------------ *\
    Base
\* ------------------------------------------------------------ */

body { background: #fff; font-family: 'Arial', 'Helvetica', 'sans-serif'; font-size: 13px; line-height: 1.3; color: #808080; }

a { color: #003868; text-decoration: underline;  }
a:hover { text-decoration: none;}

h1,
h2,
h3,
h4,
h5,
h6 { margin-bottom: 25px; line-height: 24px; color: #003868; }

h1 { font-size: 24px; }
h2 { font-size: 19px; font-weight: bold; }
h3, 
h4,
h5,
h6 { font-size: 14px; font-weight: bold; }

p,
ul,
ol { margin-bottom: 31px; line-height: 19px;  }

ul,
ol { padding-left: 1.2em; color: #003868; }

img { max-width: 100%; height: auto; vertical-align: middle; }

/* ------------------------------------------------------------ *\
    Style
\* ------------------------------------------------------------ */

.shell { width: 980px; margin: 0 auto; }

header, footer { display: flex; align-items: center; justify-content: center; margin-bottom: 29px; height: 18.3vh;  background-color: #979797;color: #fff;  }

header p,
aside p,
footer p { margin: 0; text-align: center; padding-top: 35px; font-size: 20px; font-family: 'Trebuchet MS', 'Arial', 'Helvetica', 'sans-serif';  }

header p { padding: 0; }


.container { display: flex;  padding-left: 24px; }

.sections { width: 770px; padding-right: 136px;}

.section__head h1 { font-family: 'Georgia', 'Arial', 'Helvetica', 'sans-serif'; line-height: 18px; }
.section__head h3 { margin-bottom: 0; line-height: 1;}

aside { width: 210px; height: 970px; background-color: #979797; color: #fff; }

.articles span { margin: 0; padding: 0; line-height: 20px; }
.articles h3 { margin: 0; line-height: 20px; }

footer { margin-top: 140px; }
footer p { padding: 0; }

