
/* ------------------------------------------------------------ *\
Reset
\* ------------------------------------------------------------ */

*,
*:before,
*:after { padding: 0; margin: 0; outline: 0; box-sizing: border-box; }

/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

body { background: #fff; font-family: 'Arial', sans-serif; font-size: 16px; line-height: 1.3; color: #000; }

a { color: inherit; text-decoration: underline; }
a:hover { text-decoration: none; }

h1,		h2,		h3,		h4,		h5,		h6 { margin-bottom: 20px; }

h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

p,
ul,
ol { margin-bottom: 1.3em; }

ul,
ol { padding-left: 1.2em; }

img { max-width: 100%; height: auto; vertical-align: middle; }

* { margin: 0; padding: 0; }

body { margin: 0; padding: 0; font-family: Georgia, sans-serif;  box-sizing: border-box; }

p { line-height: 24px; }

/* 
	Style
*/

.shall { width: 990px; margin: 107px 150px 0; }

.header { margin:0 0 35px 0; }
.header h1 { color:#b92929; font-size: 50px; margin: 10px 0; }

.content h2, h3, h4, h5, h6 { margin: 20px 0 8px 0; }
.content h4, h5, h6 { color: #666666; }
.content h2 { color: #2b6f17; font-size: 30px; }
.content h2 a { color: #1659b3; }
.content p { font-size:15px; }
.content p a { color: #1659b3; }
.content .content__main ul ol { padding-left: 20px; }
.content .content__list--dash li { text-indent:-5px; }
.content .content__list--dash li::before { content: "-"; text-indent: -5px; }
.content .content__list--tik { margin-left:20px; font-weight: 700; }
.content .content__list--tik li { text-indent:-5px; }
.content .content__list--tik li::before { content: ">"; text-indent: -5px; }

.content__list,
.content__list--dash,
.content__list--tik { list-style: none; padding-left: 0;  }

.content__list--dash ul { font-style: italic; }

.footer { text-align: center; font-size:15px; }
.footer h6 { margin-bottom: 10px; }

.footer span p { font-style: italic; margin-top:21px; }