@font-face { font-family: Adobe Caslon Pro Reguler; src: url(/ProjectThree/css/font/ACaslonPro-Regular.woff) }
@font-face { font-family: Abobe Caslon Pro Bold; src: url(/ProjectThree/css/font/ACaslonPro-Bold.woff) }
@font-face { font-family: Adobe Caslon Pro Italic; src: url(/ProjectThree/css/font/ACaslonPro-Italic.woff) }
@font-face { font-family: Adobe Caslon Pro Bold-Italic; src: url(/ProjectThree/css/font/ACaslonPro-BoldItalic.woff) }
@font-face { font-family: Adobe Caslon Pro Semibold; src: url(/ProjectThree/css/font/ACaslonPro-Semibold.woff) }
@font-face { font-family: Gill Sans; src: url(/ProjectThree/css/font/Gill-Sans.woff) }